section[asides] {
    position: relative;

    > div {
        width: 75%;
    }
}

.aside-left, .aside-right {
    width: 20%;
    max-width: 400px;

    border-radius: 5px;
    border: 1px solid var(--text-color);

    padding-right: 15px;
    padding-left: 15px;
    
    position: absolute;
    margin-top: auto;

    > h4 {
        margin-bottom: 0;
    }
}

.aside-right {
    right: 0;
    top: 0;
}

@media screen and (max-width: 655px) {
    .aside-left, .aside-right {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        position: relative;
    }

    
    section[asides] > div {
        width: 100%;
    }
}